
* {
    padding: 0;
    margin: 0;
}
:root {
    --background-color-join: #372865;
    
}

body {
    padding: 50px 150px;
    font-family: 'Hind', sans-serif;
}

header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.menu .Hamburger {
    display: none;
}



.menu:hover ul {
    display: block;
}

.menu ul a {
    text-decoration: none;
    margin-left: 15px;
    color: #545454;
    font-size: 17px;
    transition: .2s;
}

.menu ul a:hover {
    color: #2e2c2c;
}

ul a.join {
    color: white;
    background-color: var(--background-color-join);
    padding: 17px;
    border-radius: 5px;
}

ul a.join:hover {
    color: white;
    background-color: #4212e2;
}

section {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 500px auto;
    justify-content: space-between; 
}

.left .li {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-join);
    color: #ccc1e6;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.left .li a {
    color: #ccc1e6;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    transition: .2s;
}

.left .li a:hover {
    transform: translate( 0px, -3px );
}

h2 {
    color: #353252;
    font-size: 42px;
    margin-bottom: 15px;
}

.for-h2 {
    color: #545454;
}

.input {
    display: flex;
    justify-content: space-between;
}

input {
    width: 320px;
    padding: 17px;
    outline: none;
    border: rgba(92, 87, 87, 0.199) 2px solid;
    border-radius: 5px;
}

.input a {
    color: white;
    background-color: var(--background-color-join);
    padding: 17px;
    border-radius: 5px;
    text-decoration: none;
    transition: .2s;
}

.input a:hover {
    background-color: #4212e2;
}

.right img {
    width: 350px;
}

.footer {
    color: #545454;
    font-size: 20px;
}

footer ul {
    margin-left: 0px;
}

footer ul a {
    margin-right: 10px;
}

    /* Mobile view */

@media (max-width: 425px) {
    body {
        padding: 60px 40px;
    }
    header {
        margin: 5px;
    }
    .menu .Hamburger {
        display: block;
    }
    .menu ul {
    display: none;
    position: absolute;
    right: 20px;
    backdrop-filter: blur(11px) brightness(0.6);
    min-width: 170px;
    }
    .menu ul a:not(:last-child) {
        border-bottom: 1px solid var(--background-color-join);
    }
    .menu ul a {
        display: block;
        margin: 0;
        margin-bottom: 10px;
        padding: 5px 0 5px 10px;
        color: white;
    }
    .menu ul a:hover {
        padding-left: 20px;
    }
    section {
        margin-top: 50px;
        display: block;
    }
    .left {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .left .li {
        display: block;
        font-size: 12px;
        text-align: center;
    }
    h2 {
        font-size: 30px;
        text-align: center;
    }
    .for-h2 {
        text-align: center;
    }
    input {
        width: calc(250px - 34px);
        text-align: center;
    }
    .input {
        display: flex;
        max-width: 250px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .input a {
        display: block;
        margin-top: 20px;
        width: 250px;
        text-align: center;
    }
    .right img {
        display: none;
    }
}

    /* Tablet view */

@media (min-width: 426px) and (max-width: 768px){
    body {
        padding: 60px 80px;
    }
    .menu .Hamburger {
        display: block;
    }
    .menu ul {
        display: none;
        position: absolute;
        right: 20px;
        backdrop-filter: blur(11px) brightness(0.6);
        min-width: 170px;
    }
    .menu ul a:not(:last-child) {
        border-bottom: 1px solid var(--background-color-join);
    }
    .menu ul a {
        display: block;
        margin: 0;
        margin-bottom: 10px;
        padding: 5px 0 5px 10px;
        color: white;
    }
    .menu ul a:hover {
        padding-left: 20px;
    }
    section {
        margin-top: 50px;
        display: block;
    }
    .left {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .left .li {
        display: block;
        font-size: 17px;
        text-align: center;
    }
    h2 {
        font-size: 45px;
        text-align: center;
    }
    .for-h2 {
        text-align: center;
    }
    input {
        text-align: center;
    }
    .input {
        justify-content: center;
        align-items: center;
        margin: 30px 0 20px;
        gap: 10px;
    }
    .right img {
        display: none;
    }
}